* {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}
a {
     text-decoration: none;
     margin: 2px;
}
.btnLigth:active {
     padding: 2px;
     background: green;
}
.teclado {
     width: 80%;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     margin: 0 auto;
     .primer {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;

          .line1 {
               display: flex;
               flex-wrap: nowrap;
               background-color: rgb(235, 235, 235);
               justify-content: space-evenly;
          }
          .line2,.line3,.line4,.line5,.line6 {
               display: flex;
               justify-content: space-between;
               flex-wrap: nowrap;
          }
     }
     .segun {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          flex-wrap: nowrap;

     }
}
.spaceBar{
     padding: 0 85px;
}
.shift {
     padding: 0 30px;
}
.space {
     padding: 0 30px;
}
.space2 {
     padding: 0 80px;
}
kbd {
     margin: 2px;
}
.box {
     display: flex;
     flex-direction: column;
     .linea {
          input {
               width: 30px;
               height: 30px;
               padding: 30px;
          }
     }
}
.use {
     padding: 2px;
     background-color: red;
}
.primer {
     .line1 {
          .group2,.group3,.group4 {
               display: flex;
               flex-wrap: nowrap;
          }
     }
}
.tercer {
     .line1 {
          display: flex;
          justify-content: space-between;
     }
     .line2 {
          display:flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          .group1 {
               display: flex;
               flex-direction: column;
          }
          background-color: greenyellow;
     }
}
.line3 {
     display: flex;
     .group1 {
          display: flex;
          flex-direction: column;
     }
}
.mostrarTeclado {
     display: flex;
}
.ocultarTeclado {
     display: none;
}
.dobleAlto {
     padding:15px 6px;
}
section{
     background-color: rgb(240, 240, 240);
     width: 100%;
     height: 30vh;
     display: flex;
     justify-content: space-around;
     flex-direction: column;
     align-items: center;
     .presionaJunto{
          a{
               text-decoration: none;
               color:black;
               padding: 15px;
               line-height: 2rem;
          }
          margin-bottom: 10px;
          background-color: rgb(84, 166, 180);
          border-radius: 10px 10px;
          &:hover {
               background-color: rgb(70, 135, 146);               
               box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          }
     }
     .inputs{
          margin: 20px auto;
     }
}
.a_verde {
     background-color: rgb(10, 94, 116);
     box-shadow: rgba(0, 0, 0, 0.315) 0px 3px 8px;
     font-size: 1.3rem;
}